<button class="pull-left btn btn-success" id="new-work-item-button" (click)="btnCreateBoardClick()"type="submit">
    Create board
</button><h3 class="col-md-offset-6">My Boards</h3>
<br>
<br>
<!-- We are going to get an array of deals stored in the publicDeals variable. We'll loop over that variable here using the ngFor directive -->
<ul class="gigs voffset4" *ngFor="let board of boards">
  <li>
    <div class="date">
      <div class='month'>{{board.dateCreated | date:"d"}} {{board.dateCreated | date:"MMM"}}</div>
    </div>
    <div class="details">
      {{board.title}}
    </div>
    <div class="actions">
        <a href="#">Details</a> |
      <a href="#">Edit</a> |
      <a href="#">Delete</a>
    </div>
  </li>
</ul>

<!-- If an error occurs, we'll show an error message -->
<div class="col-sm-12 alert alert-danger" *ngIf="error">
  <strong>Oops!</strong> An error occurred fetching data. Please try again.
</div>